*{
	padding: 0;

}

.body{
	background-image: url(img/matrix.jpg);
}

.secciones{
	margin-top: 50px;
	color: white;
}

span{
      font-size: 28px;
      color: white;
    }
    form{
      background-color: rgba(0,0,0,0.3);
      margin-top: 5%;
      width: 30%;
      border-radius: 2em;
      padding: 2%;
    }
    select{
      border-radius: .1em;
      border: none;
    }
    input[type="text"] {
      background-color: transparent;
      border-bottom-color: #18181B;
      border-top-color: transparent;
       border-left-color: transparent;
        border-right-color: transparent;
        width: 70%;
        text-align: center;
        cursor: pointer;
    }
    input[type="text"]:hover {
      background-color: transparent;
      border-bottom-color: #18181B;
      border-top-color: transparent;
       border-left-color: transparent;
        border-right-color: transparent;
        width: 90%;
        border-bottom-width: 90%;
        text-align: center;
       

    }
    input[type="submit"]{
      width: 30%;
      height: 20%;

      border-radius: 1em;
      cursor: pointer;

    }
